%h1 Users

%table.table.table-hover
  %thead
    %th ID
    %th Age
    %th Occupation
    %th Zip Code
    %th Rated Movies
    %th Actions
  %tbody
    - if @users.empty?
      %tr
        %td No users yet! Did you seed the database?
    - else
      - @users.each_with_index do |user, index|
        %tr
          %td=user.id
          %td=user.age
          %td=user.occupation
          %td=user.zip_code
          %td=user.rated_movies.count
          %td
            = link_to "Show", user_path(user)
            Recommend

= will_paginate @users, renderer: BootstrapPagination::Rails