%h1 
  User 
  = @user.id

%table.table.table-hover
  %thead
    %th ID
    %th Age
    %th Occupation
    %th Zip Code
    %th Rated Movies
  %tbody
    %tr
      %td=@user.id
      %td=@user.age
      %td=@user.occupation
      %td=@user.zip_code
      %td=@user.rated_movies.count


%h2
  Ratings

%table.table.table-hover
  %thead
    %th Movie ID
    %th Movie Title
    %th Released At
    %th Imdb URL
    %th Rating
  %tbody
    - if @user.ratings.empty?
      %tr
        %td{colspan: 5} This user did not rate any movies
    - else
      - @user.ratings.by_rating_desc.each do |rating|
        - movie = rating.movie
        %tr
          %td=movie.id
          %td=movie.title
          %td=movie.released_at
          %td=link_to movie.imdb_url, movie.imdb_url
          %td=rating.rating

%h2
  Movie Recommendations

%table.table.table-hover
  %thead
    %th Movie ID
    %th Movie Title
    %th Imdb URL
    %th Score
  %tbody
    - if @product_recommendations.empty?
      %tr
        %td{colspan: 5} Could not recommend any movies for this user.
    - else
      - @product_recommendations.each do |recommendation|
        - movie = Movie.find(recommendation.product_id)
        %tr
          %td=recommendation.product_id
          %td=movie.title
          %td=link_to movie.imdb_url, movie.imdb_url
          %td=normalized_score(recommendation.score)
%h2
  User Recommendations

%table.table.table-hover
  %thead
    %th ID
    %th Age
    %th Occupation
    %th Zip Code
    %th Rated Movies
    %th Score
    %th Actions
  %tbody
    - if @user_recommendations.empty?
      %tr
        %td{colspan: 6} Could not find similar users for this user.
    - else
      - @user_recommendations.each do |recommendation|
        - user = User.find(recommendation.user_id)
        %tr
          %td=link_to user.id, user_path(user)
          %td=user.age
          %td=user.occupation
          %td=user.zip_code
          %td=user.rated_movies.count
          %td=normalized_score(recommendation.score)
          %td
            = link_to "Show", user_path(user)

